@model MoviebasePartDeux.Models.Movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <h4>Title</h4>
            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MovieName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <h4>Director</h4>            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieDirector, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MovieDirector, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <h4>Year</h4>            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieYear, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MovieYear, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <h4>Description</h4>            <div class="col-md-10">
                @Html.EditorFor(model => model.MovieDesc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MovieDesc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">

            <h4>Genre</h4>            <div class="col-md-10">
                @Html.DropDownList("GenreRefId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GenreRefId, "", new { @class = "text-danger" })
            </div>
        </div>

        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
